body {
    direction: rtl;
    color: white;
    background-image: url('../images/pink_rice.png');
}

#container {
    width: 960px;
    margin: 0 auto;
    text-align: right;
    background-color: #A67F78;
    border: 3px solid white;
    padding: 40px;
    line-height: 20px;
    font-size: 12pt;
}

h1, h3 {
    display: inline;
}

h2 {
    text-decoration: underline;
}
.change {
    display:inline;
}

h1 {
    font-size:24pt;
    color:linen;
}

li {
    list-style-image: url('../images/giphy.gif');
}
h2{
    font-size:14pt;
}
.animation {
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}
.animation:hover {
        filter: saturate(8); /*האפקט הספציפי הזה לא עובד באינטרנט-אקספלורר.. אבל הוא הכי התאים לי אז השארתיי*/
    }